lambda is the part of the function and Lambda is the anonymous function

In [ ]:
f=lambda x:x+1
f(4)

In [2]:
f=lambda x,y:x+y
f(4,5)

9

In [3]:
f=lambda x,y,z:x+y+z
f(4,5,7)

16

In [1]:
x=lambda a,b,c:a+b**2+c**2
x(2,3,4)

27

In [4]:
a=[1,2,3,5,6,7,8,9,12,15]
map(lambda x:x+1,a)  # now will get the outpur in object formate
list(map(lambda x:x+1,a)) # now will get in interger formate

[2, 3, 4, 6, 7, 8, 9, 10, 13, 16]

In [7]:
a=[1,2,3,5,6,7,8,9,12,15]
list(map(lambda x:x*2,a))

[2, 4, 6, 10, 12, 14, 16, 18, 24, 30]

In [8]:
a=[1,2,3,5,6,7,8,9,12,15]
list(map(lambda x:x**2,a))

[1, 4, 9, 25, 36, 49, 64, 81, 144, 225]

In [9]:
a=[1,2,3,5,6]
def f1(m):
    return m+3
list(map(f1,a))    # can use map function like this as well

[4, 5, 6, 8, 9]

In [11]:
a=[1,2,3,5,6,7,8,9,12,15]
list(map(lambda i:i%2==0,a))

[False, True, False, False, True, False, True, False, True, False]

In [12]:
a=[1,2,3,5,6,7,8,9,12,15]
set(list(map(lambda i:i%2==0,a)))

{False, True}

# Filter

Filter
only that number will show which is divisible by 2. filter use like condition.

In [15]:
b=[5,10,4,3,7,9,8,14,22]
list(filter(lambda i:i%2==0,b))

[10, 4, 8, 14, 22]

In [16]:
b=[5,10,4,3,7,9,8,14,22]
list(filter(lambda i:i>8,b))

[10, 9, 14, 22]

# Generator

In [24]:
def FirstGenerator():
    yield 5
    yield 10
    yield 20
    yield 25
FirstGenerator()
print(next(FirstGenerator()))

5

In [28]:
y=FirstGenerator()
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

5
10
20
25

In [30]:
for value in FirstGenerator():
    print(value)

5
10
20
25

In [31]:
for value in FirstGenerator():
    print(value*2)

10
20
40
50

In [39]:
def generator(x,y):
    while(x<y):
        yield x
        x=x+1
y=generator(2,8)

print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

2
3
4
5
6

# List Comprehensive

In [41]:
x=[i for i in range(1,10)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
y=[k for k in x]
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
 y=[x for x in range(1,10) if x%2==0]
print(y)

[2, 4, 6, 8]

In [2]:
from tkinter import *
from tkinter import ttk