In [7]:
class ninth_class:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("name",self.name)
        print("age",self.age)
obj1=ninth_class("Deepak",22)
obj2=ninth_class("praveen",23)
obj3=ninth_class("Deepak",23)
obj1.show()

name Deepak
age 22

In [8]:
print(id(ninth_class))
print(id(obj1))
print(id(obj1.name))
print(id(obj1.age))

2139688839008
2139700223760
2139700590512
140708506315216

In [9]:
print(id(ninth_class))
print(id(obj2))
print(id(obj2.name))
print(id(obj2.age))

2139688839008
2139700223904
2139700590768
140708506315248

In [10]:
print(id(ninth_class))
print(id(obj3))
print(id(obj3.name))
print(id(obj3.age))

2139688839008
2139700223808
2139700590512
140708506315248

In [44]:
class deep:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show1(self):
        print("name",self.name)
    def show2(self):
        print("age",self.age)
obj1=deep("deepak",22)
obj1.show1()
obj1.show2()

name deepak
age 22

In [43]:
class min_max:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def max(self):
        print(max(self.a,self.b,self.c))
    def min(self):
        print(min(self.a,self.b,self.c))
obj=min_max(20,30,7)
obj1=min_max(4,6,20)
obj.max()

30

In [8]:
class Student:
    def __init__(self,name,age,marks):
        self.name=name
        self.age=age
        self.marks=marks
    def info(self):
        print("name:",self.name)
        print("age:",self.age)
        print("marks:",self.marks)
    def performance(self):
        if(self.marks>80):
            print("very good")
        elif(self.marks>60):
            print("good")
        else:
            print("poor")        
                
deepak=Student("deepak",15,90)
pravin=Student("pravin",15,88) 
mohit=Student("mohit",15,88)
deepak.info()
deepak.performance()

name: pravin
age: 15
marks: 88
very good

# instance variable

In [57]:
#instance variable whose seprate copy is created for every 

class instance:
    def __init__(self):
        self.x=10
    def modify(self):
        self.x=self.x+1
    def show(self):
        print(self.x)
    
k=instance()
k.modify()
k.show()
print(id(instance))
print(id(k))
print(id(k.x))
print(id(k.show))
print(id(k.modify))

11
1568192092688
1568204216112
140735461664880
1568203119232
1568203076544

# class variable & statics variable

In [67]:
#class variable whose single copy is availabe.
class f1:
    y=10
    @classmethod
    def modify(cls):
        cls.y=cls.y+1
    def show(self):
        print(self.y)
        
        
k1=f1()
k1.modify()
k1.show()

11

# class method

In [44]:
class car:
    wheel=4
    @classmethod
    def k(cls,x):
        print("this car",x,"has",cls.wheel,"wheel")
car.k("ford")

this car ford has 4 wheel

# static method

In [7]:
#static method
class school:
    def __init__(self,stu_name,stu_age):
        self.stu_name=stu_name
        self.stu_age=stu_age
    def info(self):
        print(self.stu_name)
        print(self.stu_age)
    @staticmethod
    def collageinfo():
        print("the collage name is: xyz")
        print("collage address is: noida")
obj=school("deepak",22)
obj.info()
school.collageinfo()

deepak
22
the collage name is: xyz
collage address is: noida

In [87]:
class school:
    director_name="Rahul mishra"
    def __init__(self,stu_name,stu_age):
        self.stu_name=stu_name
        self.stu_age=stu_age
        self.village="azamgarh"
    def changevillage(self,m):
        self.village=m
    def info(self):
        print(self.stu_name)
        print(self.stu_age)
        print(self.village)
        print("director name :-",self.director_name)
    @classmethod
    def change(cls,x):
        cls.director_name=x
    @staticmethod
    def schoolinfo():
        print("the collage name:- IFTM university")
        print("HOD name is :- Dr. Arvind shukla")
obj1=school("Deepak",22)
obj1.info()

Deepak
22
azamgarh
director name :- Rahul mishra
deepak
22

In [56]:
obj.changevillage("mau")
obj.change("raj")
obj.info()

deepak
22
mau
principle name: raj

In [98]:
obj1.change("Dr. K.K singh")
obj1.info()

Deepak
22
azamgarh
director name :- Dr. K.K singh

In [97]:
class cetpa:
    def __init__(self,name,fee):
        self.name=name
        self.fee=fee
    def stuinfo(self):
        print("name :",self.name)
        print("fee paid :",self.fee)
        print("fee unpaid :",10000-self.fee)
    @staticmethod
    def cetpainfo():
        print("new batch will be start tomorrow at 2pm")
deepak=cetpa("deepak",5500)
deepak.stuinfo()

name : deepak
fee paid : 5500
fee unpaid : 4500

In [4]:
class cetpa:
    def __init__(self,name,age,fee):
        self.name=name
        self.age=age
        self.fee=fee
    def stuinfo(self):
        print("name",self.name)
        print("age",self.age)
        print("fee paid",self.fee)
        print("fee unpaid",10000-self.fee)
    @staticmethod
    def cetpainfo():
        print("new batch will be start from tomorrow at 3pm")
obj=cetpa("Deepak",22,7000)
obj.stuinfo()
obj.cetpainfo()

name Deepak
age 22
fee paid 7000
fee unpaid 3000
new batch will be start from tomorrow at 3pm

# Inner & Nested class

A class defined in another class is known as inner class or nested class. 
If an object is created using child class means inner class then the object can also be used by parent class or root class. 
A parent class can have one or more inner class but generally inner classes are avoided.

In [104]:
#Inner class
class student:
    def __init__(self):
        self.name="deepak"
        self.age=22
    def show(self):
        print(self.name)
        print(self.age)
    class dob:
        def __init__(self):
            self.dd=15
            self.mm=7
            self.yy=1999
        def show(self):
            print("DOB={}/{}/{}".format(self.yy,self.dd,self.mm))
deepak=student()
deepak.show()
deepak1=student.dob()
deepak1.show()

deepak
22
DOB=1999/15/7

In [115]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
    class person1:
        def __init__(self,Fname):
            self.Fname=Fname
        def show(self):
            print(self.Fname)
obj=person("deepak",22)
obj.show()
obj1=person.person1("Mr. Anil")
obj1.show()

deepak
22
Mr. Anil

In [127]:
class student:
    def __init__(self,name,age,Fname,Mname,marks):
        self.name=name
        self.age=age
        self.Fname=Fname
        self.Mname=Mname
        self.marks=marks
    def stuinfo(self):
        print(self.name)
        print(self.age)
    def parentsinfo(self):
        print(self.Fname)
        print(self.Mname)
    def stu_performance(self):
        per=(self.marks/600)*100
        per=round(per,2)
        print(per)
obj=student("deepak",22,"mr. Anil","mrs. Savitree",461)
obj.stuinfo()
obj.parentsinfo()
obj.stu_performance()

deepak
22
mr. Anil
mrs. Savitree
76.83

# Inheritance

In [144]:
#Inheritance
class a:
    def __init__(self):
        self.name="deepak"
    def displayA(self):
        print("india")
        print(self.name)
class b(a):
    def displayB(self):
        print("welcome")
obj=b()
obj.displayA()
obj.displayB()

india
deepak
welcome

In [140]:
class dk:
    def __init__(self):
        self.name="deepak"
    def show(self):
        print(self.name)
class pk(dk):
    pass
obj=pk()
obj.show()

deepak

In [145]:
#write a program to calculate A in B class by using inheritance
class A:
    def __init__(self):
        self.x=10000
    def display1(self):
        print(self.x)
class B(A):
    def display2(self):
        print(self.x+20000)
obj=B()
obj.display1()
obj.display2()

10000
30000

In [154]:
#write a program to print teacher's details and student details by using the setter and getter

class teacher:
    def setname(self,name):
        self.name=name
    def setage(self,age):
        self.age=age
    def getname(self):
        print(self.name)
    def getage(self):
        print(self.age)
class student(teacher):
    def setclassno(self,class_no):
        self.class_no=class_no
    def getclassno(self):
        print(self.class_no)
t=teacher()
t.setname("atmakumar")
t.setage(35)
t.getname()
t.getage()

s=student()
s.setname("Deepak")
s.setage(22)
s.setclassno("python")
s.getname()
s.getage()
s.getclassno()

atmakumar
35
Deepak
22
python

In [168]:
#write a program to print bank emp detials(name,age) and user details(name,age,account no, address) using getter setter

class user:
    def setname(self,name):
        self.name=name
    def setage(self,age):
        self.age=age
    def setacno(self,acount_no):
        self.acount_no=acount_no
    def setadd(self,address):
        self.address=address
    def getname(self):
        print(self.name)
    def getage(self):
        print(self.age)
    def getacno(self):
        print(self.acount_no)
    def getadd(self):
        print(self.address)
class employee(user):
    def setempid(self,empid):
        self.empid=empid
    def getempid(self):
        print(self.empid)
u=user()
u.setname("pravin")
u.setage(23)
u.setacno(123456789)
u.setadd("azamgarh")
print("User details:")
u.getname()
u.getage()
u.getacno()
u.getadd()
print("\n")
em=employee()
em.setname("deepak")
em.setage(22)
em.setempid(709452)
print("Employee details:")
em.getname()
em.getage()
em.getempid()

User details:
pravin
23
123456789
azamgarh


Employee details:
deepak
22
709452

In [4]:
#method override
class A:
    def __init__(self):
        self.x="hello"
    def show(self):    
        print(self.x)
class B(A):
    def show(self):
        print("india",self.x)
obj=B()
obj.show()
obj.show()

india hello
india hello

In [10]:
x=630
y=0
k=0
while(y!=x):
    y=y+5**k
    k=k+1
    if(y>x):
        print("Not Possible")
        break
if(y==x):
    print("Its Possible")

Not Possible

In [1]:
x=484377
y=0
y1=5
a=1
powr=[]
while(x>5):
    y1=5
    a=1
    while(x>=y1):
        y1=5**a
        #print(y1)
        #print(a)
        a=a+1
    if(x==5) and (x==6):
        powr.append(a-1)
    else:
        powr.append(a-2)
    y1=5**(a-2)
    x=x-y1
    #print(x)
if(len(powr)==len(set(powr))):
    print("It foloows the Rule")
else:
    print("It does not follow the rule")

It foloows the Rule

In [14]:
class k:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class k1(k):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
    def show(self):
        print(self.age)
        print(self.name)
obj=k1("deepak",22)
obj.show()

22
deepak

In [ ]:
#Multiple

In [ ]:
#write a python program to make a banking system. the bank class has all fixe variable

In [3]:
#super method
class parents:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class child(parents):
    def __init__(self,name,age):
        super().__init__(name)
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
obj=child("deepak",22)
obj.show()

deepak
22

In [1]:
# Multiple inheritance
class p1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
class p2:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class child(p1,p2):
    pass
obj=child("deepak",23)
obj.show()

deepak
23

In [10]:
class p1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
class p2:
    def __init__(self,name):
        self.name=name
    def show(self):
        print(self.name)
class child(p1,p2):
    def __init__(self,name,age,id,Mname):
        self.id=id
        self.Mname=Mname
        super().__init__(name,age)
    def show(self):
        print(self.name)
        print(self.age)
        print(self.id)
        print(self.Mname)
obj=child("deep",22,12345,"savitri")
obj.show()

deep
22
12345
savitri

In [ ]:
#Here we will take data from P1,P2 class in child calss by using the constructor in child class
class p1:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print(self.name)
        print(self.age)
class p2:
    def __init__(self,Mname):
        self.Mname=Mname
    def show(self):
        print(self.Mname)
class child(p1,p2):
    def __init__(self,name,age,id,Mname):
        self.id=id
        p1.__init__(self,name,age)
        p2.__init__(self,Mname)
    def show(self):
        print(self.name)
        print(self.age)
        print(self.id)
        print(self.Mname)
obj1=child("deepak",22,709452,"savitri")
obj1.show()

In [33]:
x=[3,9,3,10,11,3,10,6,10,3,4,3,10,12,22,8,9,6,3]
y={}
for i in x:
    k=0
    for j in x:
        if(i==j):
            k=k+1
    y[i]=k
#print(max(y,key=y.get))
m=max(y,key=y.get)
print(m,"max repeat times:",y.get(m))

3 max repeat times: 6

In [ ]:
neuram
single neuram
multiple neuram

In [ ]:
gssam4@gmail.com
Lenovo@15

# Polymorphism

Types of Polymorphism
1) Duck typing
2) Method Overloading
3) Operator Overloading
4) Method overrinding

In [2]:
#Duck typing
x=4
print(type(x))
x="deep"
print(type(x))

<class 'int'>
<class 'str'>

In [7]:
class Duck:
    def sound(self):
        print("Qack")
class cat:
    def sound(self):
        print("meow")
class human:
    def sound(self):
        print("talk")
class test:
    def invoke(self,obj):
        obj.sound()


obj=cat()
t.invoke(obj)

obj=Duck()
t.invoke(obj)

obj=human()
t.invoke(obj)

meow
Qack
talk

#Operator Overloading

In [1]:
x=10
y=15
print(x+y)
x="Deepak"
y=" Kumar"
print(x+y)

25
Deepak Kumar

#Method Overloading

In [6]:
def f1(x=None,y=None,z=None):
    if(x!=None) and (y!=None) and (z!=None):
        return x+y+z
    elif(x!=None) and (y!=None):
        return x+y
    elif(x!=None) and (y!=None):
        return x+z
f1(5,6)   
f1(10,25,5)

40

In [ ]:
Method Overriding

In [18]:
class test:
    def __init__(self,name,age,course):
        self.name=name
        self.age=age
        self.course=course
    def show(self):
        print("name :",self.name)
        print("age :",self.age)
class test2(test):
    def show(self):
        print("Course :",self.course)
obj=test2("deepak",22,"Data Science")
obj.show()

Course : Data Science